spring:
  # Datasource
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/singk?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: root

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
      dialect: org.hibernate.dialect.MySQL8InnoDBDialect
    # defer-datasource-initialization: true
  data:
    redis:
      host: localhost
      port: 6379
      cache:
        ttl: 300000
#  sql:
#   init:
#    mode: always
logging:
  level:
    org:
      hibernate:
        SQL: debug
